<div id="splash" class="container" ng-controller="HomeCtrl">
  <div class="intro-text" align="center">
    <p id="aboutP" ng-hide="currentUser">
    Pen Arcade is a private, online journal and development space for writers.<br>
    Whether you're just beginning or you're a veteran writer, Pen Arcade is designed<br>
    to enable your desire to create. Aside from acting as a daily resource for writing<br>
    and journal keeping,  Pen Arcade provides its users with access to an assortment of writing<br>
    prompts and exercises if you ever feel like writing but don't know where to start.<br>
    The more practice you get,they better writer you'll become!<br><br>
    <b>"But what else can it do?"</b> <br>
    Good question, valued visitor. Pen Arcade has a built in word search feature that will get a words'
    definition, synonyms, <br>
    antonyms, and rhyming words! Also, for the more ambitious, we have a section for using the snowflake method<br>
    writing a longer story. Sign up and learn more.<br>
    <b>"But why not just keep a jounral? Writing feels more natural when I have a pen in my hand.."</b><br>
    It's true, it's hard to been pen on paper, but we want you to write and write and write! You'll
    need two hands for this kind of work. Even Hemmingway used a typewriter..
    </p>
  </div>
</div>