<center>
  <p>Having trouble getting start, or do you just want a new starting point?</p>
</center>
<div class="well col-md-8 col-md-offset-2" align="center">
  <h3>Choose from below and get writing!</h3>
</div>
<div class="col-md-8 col-md-offset-2" align="center">
  <a class="btn btn-primary" href="/prompts">Prompts</a>
  <div class="btn-group" dropdown dropdown-append-to-body>
      <button type="button" class="btn btn-primary dropdown-toggle" dropdown-toggle>
        Exercises<span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li><a href="/quickExercises">Quick Exercises</a></li>
        <li><a href="/abstractExercises">Abstract Exercises</a></li>
        <li><a href="/responseExercises">Response Exercises</a></li>
      </ul>
    </div>

  <a class="btn btn-primary" href="/snowflake">Snowflake</a>

</div>
<div class="container col-md-12">

<form action="" method="POST" role="form">
  <div class="form-group">
    <label for="">Date</label>
    <textarea type="text" class="form-control" id="FreeWrite" placeholder="All of this happened more or less.."></textarea>
  </div>

  <button type="submit" class="btn btn-primary">Save</button>
</form>



</div>