<div ng-controller="SavedCtrl" class="container">

  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Date</th>
          <th>Body</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="item in yourSaved">
<!--           <div ng-if="'{{currentUser.id}}'=='{{item.user}}'"> -->
            <td>{{item.title}}</td>
            <td>{{item.body}}</td>
    <!--       </div> -->
        </tr>
      </tbody>
    </table>
  </div>
</div>