<div ng-controller="HomeCtrl" class="container">
  <button class="btn btn-default" ng-click="isCollapsed = !isCollapsed">Quotes</button>
  <div collapse="isCollapsed">
    <div class="well col-md-6 col-md-offset-3">{{quotesList}}</div>
  </div>
</div>

        <!---  ===================== Look Up Word Feature =================== -->

<div ng-controller="WordCtrl">
  <div class="col-md-8 col-md-offset-4">
    <div  class="input-group search-bar">
      <form ng-submit="load()" class="navbar-form navbar-right">
          <input ng-model="options" type="radio" value="definition">Definition
          <input ng-model="options" type="radio" value="synonyms">Synonyms
          <input ng-model="options" type="radio" value="antonyms">Antonyms
          <input ng-model="options" type="radio" value="rhymes">Rhymes
          <br>
        <input id="wordSearch" type="text" ng-model="wordSearch" class="form-control" placeholder="Search...">
        <button class="btn btn-primary" ng-click="load()">Search</button>
      </form>
    </div>
  </div>

  <br><br><br><br>

  <div class="container well">
    <div ng-show="wordS">
      <div ng-repeat="word in wordS">
        <p>{{word}}</p>
      </div>
    </div>
    <div ng-show="wordD">
      <div ng-repeat="word in wordD">
        {{word}}
      </div>
    </div>
    <div ng-show="wordA">
      <div ng-repeat="word in wordA">
        {{word}}
      </div>
    </div>
    <div ng-show="wordR">
      <div ng-repeat="word in wordR">
        {{word}}
      </div>
    </div>
  </div>
</div>

        <!---  ===================== Free Write Area To Be Loaded =================== -->

<div ng-controller="LoadCtrl" class="container col-md-12">
<div ng-controller="SavedCtrl">
  <form ng-submit="saved()" role="form">
    <div class="form-group">
      <label for="">{{date}}</label>
      <br>
      <textarea ng-model="body" class="form-control" id="FreeWrite"></textarea>
      <br>
      <textarea ng-if="body2" ng-model="body2" type="text" class="form-control" id="snowflakeParagraph"placeholder="Summary Paragraph"></textarea>
      <br>
      <textarea ng-if="body2" ng-model="body3" type="text" class="form-control" placeholder="Character storyline"></textarea>
      <br>
      <textarea ng-if="body2" ng-model="body4" type="text" class="form-control" id="onePage" placeholder="Character's motivation"></textarea>
      <br>
      <textarea ng-if="body2" ng-model="body5" type="text" class="form-control" id="onePage" placeholder="Character's goal"></textarea>
      <br>
      <textarea ng-if="body2" ng-model="body6" type="text" class="form-control" id="onePage" placeholder="Character's conflict"></textarea>
      <br>
      <textarea ng-if="body2" ng-model="body7" type="text" class="form-control" id="onePage" placeholder="Character's epiphany"></textarea>
      <br>
      <textarea ng-if="body2" ng-model="body8" type="text" class="form-control" id="onePage" placeholder="Character storyline summary"></textarea>
      <br>
      <textarea ng-if="body2" ng-model="body9" type="text" class="form-control" id="onePage" placeholder="Summary Paragraph Expanded"></textarea>
      <br>
      <textarea ng-if="body2" ng-model="body10" type="text" class="form-control" id="onePage" placeholder="Major Characters"></textarea>
      <br>
      <textarea ng-if="body2" ng-model="body11" type="text" class="form-control" id="twoPage" placeholder="Plot Summary Expanded"></textarea>
      <br>
      <textarea ng-if="body2" ng-model="body12" type="text" class="form-control" id="onePage" placeholder="List major scenes"></textarea>
      <br>
      <textarea ng-if="body2" ng-model="body13" type="text" class="form-control" id="onePage" placeholder="Describe Each Scene"></textarea>

    </div>
    <button type="submit" id="saveSpace" class="btn btn-primary">Save</button>
  </form>
</div>
</div>
<br><br><br>