body{
  /*background-color: black;*/
}
a{
  color:white;
}
.navbar-inverse .navbar-nav>li>a{
  color:white;
}

p{
  color: white;
}

th{
  color:white;
}

li{
  color: white;
}

#signUph3{
  color: white;
}

.loginLabel{
  color:white;
}

.intro-text{
  padding-top: 10vh
}

a.navbar-brand{
  font-family: 'Lobster Two', cursive;
  color: white;
  font-size: 28px;
}

.navbar-inverse .navbar-brand{
  color: white;
}

#spaceOut{
  margin-left: 100px;
  margin-right: 100px;
}

#spaceOut2{
  margin-left: 100px;
  margin-right: 100px;
}

.homeBtns{
  margin-top:60px;
}

.form-control{
  opacity: .6;
  font:white;
}

#snowflakeParagraph{
  height: 120px;
}
#onePage{
  height: 250px;
}
#twoPage{
  height: 500px;
}
.navbar{
  background-color: rgba(78,59,91,.4);
  border-bottom: 4px solid #2d1b4d;
}

.btn-info{
  background-color: rgba(91,192,222,.4)
}
.btn-primary{
  background-color: rgba(51,122,183,.4)
}

#homeP{
  font-size: 26px;
  font-family: 'Open Sans Condensed', sans-serif;
}

#aboutP{
  font-size: 22px;
  font-family: 'Open Sans Condensed', sans-serif;
}

.wellP{
  color: black;
}

#wordSearch{
  width: 250px;
}

body{
  background-color: #f0f0f0;
  background-image: url(../images/background.jpg);
  height: vh100;
  background-position: top center;
  background-repeat: none;
  background-size: cover;
}
/*
#btn{
  margin-left: 20px;
  margin-right: 20px;
  width: 100px;
}

.btn-group{
  margin-left: 20px;
  margin-right: 20px;
  width: 100px;
}*/


#FreeWrite{
  height: 100vh;
}