body{
  /*background-color: black;*/
}

.intro-text{
  padding-top: 10vh
}


.navbar{
  border-bottom: 4px solid #10a1ff;
}

body{
  background-color: #f0f0f0;
/*  background-image: url(../images/Typewriter2.jpg);
  height: vh100;
  background-position: top center;
  background-repeat: none;
  background-size: cover;*/
}
/*
#btn{
  margin-left: 20px;
  margin-right: 20px;
  width: 100px;
}

.btn-group{
  margin-left: 20px;
  margin-right: 20px;
  width: 100px;
}*/


#FreeWrite{
  height: 100vh;
}