body{
  /*background-color: black;*/
}

.intro-text{
  padding-top: 10vh
}

#spaceOut{
  margin-left: 100px;
  margin-right: 100px;
}

#snowflakeParagraph{
  height: 120px;
}
#onePage{
  height: 250px;
}
#twoPage{
  height: 500px;
}
.navbar{
  background-color: rgba(78,59,91,.4);
  border-bottom: 4px solid #2d1b4d;
}

.btn-info{
  background-color: rgba(91,192,222,.4)
}
.btn-primary{
  background-color: rgba(51,122,183,.4)
}

#wordSearch{
  width: 250px;
}

body{
  background-color: #f0f0f0;
  background-image: url(../images/background.jpg);
  height: vh100;
  background-position: top center;
  background-repeat: none;
  background-size: cover;
}
/*
#btn{
  margin-left: 20px;
  margin-right: 20px;
  width: 100px;
}

.btn-group{
  margin-left: 20px;
  margin-right: 20px;
  width: 100px;
}*/


#FreeWrite{
  height: 100vh;
}