<div class="container col-md-12">
  <h1>Get Started</h1>
</div>

<center>
  <p></p>
</center>

<div class="well col-md-8 col-md-offset-2" align="center">
  <p>{{prompts2}}</p>
</div>

<div class="col-md-2 col-md-offset-8">
  <button class="btn btn-info" ng-click="nextPrompt()">New</button>
</div>

<div class="col-md-8 col-md-offset-2" align="center">
  <a class="btn btn-primary">Prompts</a>
  <div class="btn-group" dropdown dropdown-append-to-body>
      <button type="button" class="btn btn-primary dropdown-toggle" dropdown-toggle>
        Exercises<span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li><a href="/quickExercises">Quick Exercises</a></li>
        <li><a href="/abstractExercises">Abstract Exercises</a></li>
        <li><a href="/regularExercises">Regular Exercises</a></li>
        <li class="divider"></li>
        <li><a href="#">Separated link</a></li>
      </ul>
    </div>

    <div class="btn-group" dropdown dropdown-append-to-body>
      <button type="button" class="btn btn-primary dropdown-toggle" dropdown-toggle>
        Methods<span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li><a href="#">Rhythm</a></li>
        <li><a href="#">Snowflake</a></li>
        <li><a href="#">Something else here</a></li>
        <li class="divider"></li>
        <li><a href="#">Separated link</a></li>
      </ul>
    </div>
</div>
<div class="container col-md-12">

<form action="" method="POST" role="form">
  <div class="form-group">
    <label for="">Date</label>
    <textarea type="text" class="form-control" id="FreeWrite" placeholder="All of this happened more or less.."></textarea>
  </div>

  <button type="submit" class="btn btn-primary">Save</button>
</form>



</div>